{% extends 'j2/template.html' %} {% block content %}
<h2>Basics</h2>
<div>

    {{ json.nodes.apiVersion }}
    <table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
            </tr>
        </thead>
        <tbody>
            {% for node in json.nodes['items'] %}
            <tr>

                <td>{{ node.kind}}</td>
                <td>{{ node.metadata.name}}</td>
                <td>{{ node.metadata.name}}</td>
                <td>{{ node.metadata.name}}</td>
                <td>{{ node.metadata.name}}</td>
                <td>{{ node.metadata.creationTimestamp}}</td>

            </tr>

            {% endfor %}



        </tbody>
    </table>
</div>
{% endblock %}