{% extends 'j2/template.html' %} {% block content %}
<h2>Raw Displays</h2>
<div>

    <ul class="nav nav-pills">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
                {% for key, value in raw.items() %}
                <li><a class="dropdown-item" href="#{{key}}">{{key}}</a></li>
                {% endfor %}
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>

            </ul>
            </li>

    </ul>


    {% for key, value in raw.items() %}
    <h2> <a id="{{key}}">{{ key }}</a></h2>
    <pre>{{ value }}</pre> {% endfor %}


</div>
{% endblock %}