<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css" />
    <link href="../dashboard/dashboard.css" rel="stylesheet">

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Info Collector</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search (to come)" aria-label="Search">
        <div class="navbar-nav">

        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">
                                <span data-feather="home"></span> Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="history.html">
                                <span data-feather="file"></span> History
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="basics.html">
                                <span data-feather="shopping-cart"></span> Basic Checks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="rawDisplays.html">
                                <span data-feather="shopping-cart"></span> Raw Displays
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="specifics.html">
                                <span data-feather="users"></span> Specifics
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">

                        </div>

                    </div>
                </div>
                <!--
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                -->
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <!--
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    -->

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="../dashboard//dashboard.js"></script>
</body>

</html>